.page-content-container {
    background: #fff;
    word-wrap: break-word;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 15px;
}
.page-content {
    padding: 20px 5%;
}

.page-title {
    line-height: 48px;
    font-size: 3.0rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.84);
    margin-bottom: 2rem;
}

.metadata-post {
    color: #767676;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 30px;
}

.content-post {
    line-height: 1.5;
}

#carousel-header {
    margin: auto;
    width: 100%;
}

.nav-link-icon {
    font-size:1.4rem; 
    color: #6cbb23; 
    padding-left: 5px;
}

.body-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail-button {
    color: #fff;
    background-color: #6cbb23;
    border-color: #6cbb23;
}

.detail-button:hover {
    font-weight: 400;
    color: #6cbb23;
    background-color: #fff;
}

.thumbnail-image {
    max-height: 9rem;
}

.thumbnail-body {
    padding: 5px 0;
}

.post-thumbnail {
    margin-right: 10px;
    margin-bottom: 10px;
}

.header-category {
    background-color: #6cbb23;
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #FFF;
}

.thumbnail-body p {
    margin: 0;
    line-height: 1.4;
    padding-bottom: 3px;
    font-size: 0.8rem;
    font-weight: 500;
}